.top-menu__item:hover {
	.dropdawn {
		left: -80%;
	}
}

.dropdawn {
	margin: 0;
	padding: 35px 0;
	background: rgba(255,255,255, .94);
	position: absolute;
	z-index: 999;
	border-radius: 15px;
	margin-top: 35px;
	left: 9999px;
	top: 100%;

	&:before {
		content: "";
		position: absolute;
		width: 0;
		height: 0;
		border-left: 15px solid transparent;
		border-right: 15px solid transparent;
		border-bottom: 15px solid rgba(255,255,255, 0.92);
		top: -15px;
		left: 43%;
	}

	&:after {
			content: "";
			display: block;
			position: absolute;
			left: 0;
			right: 0;
			height: 45px;
			top: -42px;
	}
}

.dropdawn__item {
	list-style: none;
	color: #303030;
	text-align: left;
	white-space: nowrap;
}

.dropdawn__link {
	text-decoration: none;
	color: #303030;
	display: block;
	padding: 12px 65px 12px 50px;

	&:hover {
		// font-weight: bold;
		color: $yellow;

		&:before {
			content: "";
			position: absolute;
			left: 0;
			width: 0;
			height: 0;
			border-top: 10px solid transparent;
			border-left: 8px solid #e8781c;
			border-bottom: 10px solid transparent;
		}
	}

}