// susy общие настройки
$susy: (
	columns: 16,
	gutters: .1111,
	container: 1400px,
	global-box-sizing: border-box,
	debug: (image: hide)
);

// @include border-box-sizing;

// Grid (сетка)
.header {
	@include container();
}