// susy общие настройки
$susy: (
	columns: 16,
	gutters: 7px/63px,
	container: 1100px,
	global-box-sizing: border-box,
	debug: (image: hide)
);

// @include border-box-sizing;

// Grid (saas сетка susy)
.top-header,
.slider,
.slider-item,
.wrapper {
	@include container();
	//padding-left: 20px;
	//padding-right: 20px;
}

.logo-block {
	@include span(5);
}

.main-menu {
	@include span(9);
}

.login {
	@include span(1);
}

.search {
	@include span(1 last);
}

// Slider grid
.ingridients {
	@include span(2);
}

.product-img {
	@include span(7);
	padding-left: span(1);
}

.product-info {
	@include span(7 last);
	padding-left: span(1);
}

// section vkusno
.vkusno-text {
	@include span(10);
	padding-left: span(1);
}

.vkusno-text__wrapper {
	@include span(6.8 of 10);
}

.vkusno-list__wrapper {
	@include span(10 of 10);
}

.vkusno-image {
	@include span(6 last);
}

