.header {
	color: #fff;
	background: $red;
	background: linear-gradient(45deg, #1e5799 0%,#d93b3e 0%,#a4161b 78%,#a4161b 100%,#a4161b 100%,#a4161b 100%);
	padding-top: 25px;
	padding-bottom: 60px;
}

.top-header {
	margin-bottom: 95px;
}
