.ingridients-block {
	background: rgba(255, 255, 255, .92);
	position: absolute;
	left: -9999px;
	top: -90%;
	color: #575757;
	z-index: 9999;
	white-space: nowrap;
	border-radius: 15px;

	&:before {
		content: "";
		position: absolute;
		width: 0;
		height: 0;
		left: -17px;
		top: 30%;
		border-top: 20px solid transparent;
		border-right: 17px solid rgba(255, 255, 255, .92);
		border-bottom: 20px solid transparent;
	}

	&:after {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		width: 55px;
		left: -53px;
	}
}

.ingridients-btn {

	&:hover {
		cursor: pointer;
		
		.ingridients-btn__link {
			background: $yellow;
		}
		.ingridients-block {
			left: 110%;
		}
	}
}

.ingridient-table {
	margin: 20px 30px;
	text-align: left;
}

.tdIco {
	text-align: center;
}

.tdText {
	padding: 10px 70px 10px 15px;
}

.tdWeight {
	padding-right: 25px;

}