.ingridients-block {
	background: #fff;
	position: absolute;
	left: 100%;
	bottom: -130%;
	color: #575757;
	z-index: 9999;
	white-space: nowrap;
	border-radius: 15px;
}

.ingridient-table {
	margin: 40px 35px;
}