.main-menu {
	margin-top: 30px;
	margin-bottom: 25px;
}

.top-menu {
	text-align: right;
}

.top-menu__list {
	margin: 0;
	padding: 0;
}

.top-menu__item {
	list-style: none;
	@include inlineblock;
	margin-right: rem(45px);
	position: relative;
}

.top-menu__link {
	text-decoration: none;
	color: #fff;

	&:hover {
		color: $yellow;
	}
}


.arrow__link {

	&::after {
		content: "\f107";
		font-family: $icon;
		margin-left: rem(7px);
	}
}

.arrow__link:hover {

	&::after {
			content: "\f106";
			font-family: $icon;
			margin-left: rem(7px);
	}
}