.main-menu {
	margin-top: 30px;
	margin-bottom: 25px;
}

.top-menu {
	text-align: right;
}

.top-menu__list {
	margin: 0;
	padding: 0;
}

.top-menu__item {
	list-style: none;
	@include inlineblock;
	//margin-left: rem(65px);
	margin-right: rem(45px);
}

.top-menu__link {
	text-decoration: none;
	color: #fff;

	&:hover {
		color: $yellow;
	}
}