@import "vars";

/*==========  Desktop First  ========== */

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
    html {
    font-size: 16px;
  }
}
/* My viewport
==================== */ 
@media only screen and (max-width: 1060px) {

  // Footer

  .logo-footer,
  .copyright {
    @include span(5.3333)
    text-align: center;
  }

  .copyright {
    position: relative;
    left: 32.91384%;
    margin-right: 0;
  }

  .adress {
    @include span(5.3333 last);
    text-align: center;
    position: relative;
    right: 32.91384%;
  }

  .footer-icon {
    @include span(16);
    text-align: center;
    padding-top: 25px;
  }
}

/* My wport for big font slider
======================================= */ 
@media only screen and (max-width: 1024px) {

  .slider-item {

    &:before {
      font-size: rem(100px);
    }
  }
  
  // MENU section

  .logo-block {
    @include span(4);
  }

  .logo__pic {
    padding-left: 10px;
  }

  .main-menu {
    @include span(10);
  }

  .vkusno-text {
    @include span(16);
    margin-bottom: 65px;
  }

  .vkusno-text__wrapper,
  .vkusno-list__wrapper {
    @include span(15 of 16);
  }

  .vkusno-text__wrapper {
    margin-bottom: 20px;
  }

  .vkusno__item {
    margin-right: 40px;
  }

  .vkusno__item--title {
    margin-right: 0;
  }

  .vkusno__list,
  .vkusno__title {
    text-align: center;
  }

  .vkusno-bg {
    @include span(16);
  }

  .vkusno-bg__picture {
    margin-left: auto;
    margin-right: auto;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
    html {
    font-size: 15px;
  }

  .slider-item {

    &:before {
      font-size: rem(80px);
    }
  }

  .top-menu {
      display: none;
  }

  html.mm-opened {
    // overflow-y: scroll;
  }

  .mm-panels {
    .mm-panel.mm-hasnavbar {
      // right: -18px;
    }
  }

  //we delivery
  .product__item {
    @include span(8);

    &:nth-child(2n) {
      @include span(8 last);      
    }
  }

  //TABS

  .tab-title {
    padding: 0 10px;
  }

  .tab-form {
    padding-top: 45px;
  }

  .tab-title__title {
  @include span(16);
  text-align: center;
  margin-bottom: 40px;
  }

  .tab-title__list {
    @include span(5.3333);

    &:last-child {
      @include span(5.3333 last);
    }
  }



}

@media only screen and (max-width: 840px) {

  // Slider
  .slider-item {

    &:before {
      content: "";
    }
  }

  .ingridients {
  @include span(6);
  }

  .ingridients-btn {
    margin-bottom: 80px;
  }

  .product-img {
    @include span(10 last);
  }

  .product-info {
    @include span(16);
    @include break;
    margin-top: 20px;
  }

  .time-exp {
   position: static;
  }
  
  // Tabs

  .col-tab__left {
  @include span(8);
  padding-right: 20px;
  }

  .col-tab__center {
    display: none;
  }

  .col-tab__right {
    @include span(8 last);
  }

  // Questions

  .questions {
    min-height: 775px;
  }

}

@media only screen and (max-width: 800px) {
  
  .logo-block {
    @include span(8);
  }

  .main-menu {
  @include span(5);
}

  .login {
    @include span(1.5);
  }

  .search {
    @include span(1.5 last);
  }

  // Forms
  .form-container {
  @include span(14);
  margin-left: span(1);
  margin-right: span(1);
  }

  .right-block {
    @include span(7 of 14);
  }

  .left-block {
    @include span(7 of 14 last);
  }

}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }

  // FOOTER

  .logo-footer {
    @include span(16);
  }

  .copyright {
    position: static;
    left: 0;
    @include span(8);
  }

  .adress {
    position: static;
    right: 0;
    @include span(8 last);
  }

  .footer-icon {
    padding-top: 40px;
    @include break;
  }
}

@media only screen and (max-width: 680px) {

  // ПОЧЕМУ ТАК ВКУСНО

  .vkusno {
    padding-top: 50px;
  }

  .vkusno-list__wrapper {
    @include span(16);
  }

  // TABS 

  .tab-container {
    margin-bottom: 40px;
  }

  // FORM

  .right-block {
    width: 100%;
    min-height: 210px;
  }

  .left-block {
    width: 100%;
    border-radius: 0px 0px 25px 25px;
    padding: 40px;
    font-size: rem(18px);
  }

}

@media only screen and (max-width: 620px) {

  // TABS 

  .tab-title__list {}

}

@media only screen and (max-width: 600px) {

  // Menu section

  .top-header {
    margin-bottom: 30px;
  }

  .logo-block {
    @include span(13);
    margin-bottom: 20px;
  }

  .main-menu {
    @include span(3 last);
  }

  .search-login {
    display: none;
  }

  // FORM BUTTON

  .btn-form-order {
    right: 50%;
    margin-right: -48px;
    bottom: -45px;
  }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  html {
    font-size: 12px;
  }

  .slider-item {

    &:before {
      font-size: rem(100px);
    }
  }

  // ПОЧЕМУ ТАК ВКУСНО
  .delivery {
    padding-top: 50px;
  }

  // WE DELIVERY

  .row {
    padding-bottom: 0;
  }

  .product__item {
    @include span(16);
    margin-bottom: 40px;

    &:nth-child(2n) {
      @include span(16);      
   }
  }

}

/*==========  Mobile First  ========== */

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /* */
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /* */
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /* */
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 993px) {

    .hamburger {
      display: none;
    }

 }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {

}