.search-login {
	text-align: center;
	padding-top: 15px;
	padding-bottom: 10px;
}

.login,
.search {
	@include inlineblock;
}

.login__link,
.search__link {
	background: #ad2e32;
	border-radius: 50%;
	height: 44px;
	width: 44px;
	display: block;

	&:hover {
		background: $yellow;
	}
}

.login__link,
.search__link {
	position: relative;

	.login-ico__pic,
	.search-ico__pic {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		display: block;
	}
}
