.tab-form {
	padding-top: 85px;
	padding-bottom: 85px;
	background: rgba(223,224,222,1);
	background: linear-gradient(to bottom, rgba(223,224,222,1) 0%, rgba(231,230,231,1) 30%, rgba(252,252,252,1) 51%, rgba(252,252,252,1) 71%, rgba(232,231,232,1) 100%);
}

.tab-container {}

.tab-title {
	margin: 0;
	padding: 0;
	margin-bottom: 60px;
	@include cf;
}

.tab-title__list {
	list-style: none;

	.active {
		background: #893213;
		border-radius: 20px;
		position: relative;

		.cook-name {
			color: $yellow;
		}

		.human-profi {
			color: #fff;
		}

		&::after {
			content: '';
			position: absolute;
			width: 0;
			height: 0;
			left: 50%;
			bottom: -10px;
			margin-left: -17px;
			border-left: 17px solid transparent;
			border-right: 17px solid transparent;
			border-top: 10px solid #893213;
		}
	}
}

.tab-title__title {}

.our-team {
	font-family: $malina;
	font-size: rem(58px);
	color: $lilac;
	line-height: 1;
	padding-left: 15px;
	display: block;
}

.tab-title__link {
	text-decoration: none;
	padding: 25px 30px;
	display: block;
}

.cook-name {
	font-size: rem(30px);
	color: $lilac;
	font-family: $malina;
	display: block;
}

.human-profi {
	color: #8d8d8d;
	line-height: 30px;
	display: block;
}

.tab-item {
	color: #747474;
	font-style: italic;
	font-size: rem(14px);
	line-height: 21px;
}

.col-tab__left {
	padding-top: 35px;
	padding-left: 15px;

	p {
		span {
			font-weight: bold;
		}
	}
}

.col-tab__center {
	position: relative;

	&::before {
		content: '"';
		font-family: $malina;
		position: absolute;
		font-size: 100px;
		color: #d6d4d4;
		top: 50px;
		left: 50px;
	}
}

.tab-center__bg {
	display: block;
}

.col-tab__right {
	padding-top: 35px;
	padding-right: 15px;
}