@import "bourbon";

$default-font: "helvetica", sans-serif;
$malina: "malina-webfont";

// Colors

$red:    #a4171c;
$yellow: #fca211;
$lilac:  #2b2f5f;
$choko:  #893213;


// Mixin

// Classic clearfix
@mixin cf {
	&::after {
		content:"";
		display: table;
		clear: both;
	}
}

// inline block
@mixin inlineblock ($valine: top) {
	display: inline-block;
	vertical-align: $valine;
}

//responsive (rem)
@function rem($px) {
  @return $px / 16px + 0rem;
}
