@import "fonts";
@import "libs";
@import "vars";
@import "app/libs/susy/sass/susy"; //Susy

/* MAIN CSS 
================================ */
*::-webkit-input-placeholder {
	color: #fff;
	opacity: 1;
}

*:-moz-placeholder {
	color: #fff;
	opacity: 1;
}

*::-moz-placeholder {
	color: #fff;
	opacity: 1;
}

*:-ms-input-placeholder {
	color: #fff;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	color: #666;
}

body input:required:valid,
body textarea:required:valid {
	color: #666;
}

body {
	font-size: rem(16px);
	min-width: 320px;
	position: relative;
	//line-height: 1.42;
	font-family: $default-font;
	overflow-x: hidden;
	opacity: 1;
}

h1,
h2,
h3 {
	font-family: $malina;
	font-weight: normal;
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}

@import "grid";
@import "typo";
@import "header";
@import "logo-block";
@import "main-menu";
@import "dropDawn";
@import "hamburger";
@import "slideMenu";
@import "search-login";
@import "slider";
@import "ingrid-popup";
@import "vkusno";
@import "delivery";
@import "tab";
@import "form";
@import "questions";
@import "map";
@import "footer";







@import "media"; // Всегда в конце
